.dark {
    color-scheme: dark
}

a {
    @apply select-none;
}

[aria-disabled='true'] {
    opacity: 50% !important;
}

input[type='number'] {
    -moz-appearance:textfield;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}