.app-ui-scrollbar {
    scrollbar-width: thin;
    scroll-behavior: smooth;

    & ::-webkit-scrollbar {
        width: 8px;
        @apply bg-backgrounds-primary;
    }

    & ::-webkit-scrollbar:horizontal {
        height: 8px;
        @apply bg-backgrounds-primary;
    }

    & ::-webkit-scrollbar-track {
        @apply bg-transparent;
        border: solid 2px transparent;
        box-shadow: inset 0 0 5px 5px theme('colors.backgrounds-primary');
    }

    & ::-webkit-scrollbar-thumb {
        @apply bg-transparent cursor-pointer rounded;
        border: solid 2px transparent;
        box-shadow: inset 0 0 5px 5px theme('colors.primary.DEFAULT')
    }

    & ::-webkit-scrollbar-thumb:horizontal{
        box-shadow: inset 5px 5px 0 0 theme('colors.primary.DEFAULT')
    }
}